d-appendix {
  @include themify($themes) {
    color: themed('content-pre-number-color') !important;
  }
}

d-cite {
  @include themify($themes) {
    color: themed('toc-label-color');
  }
}

d-footnote {
  @include themify($themes) {
    color: themed('toc-label-color');
  }
}